@import "mixin/image";

// ::: SETTING COMPASS SPRITE  ::: //
// ------------------------------- //

// Renseigner le chemin des dossiers d'icons 
//     (le chemin de dossier img ou image
//     est dans le config.rg)
$spritePath: "icon/*.png";
$sprite2xPath: "icon-2x/*.png";

// Choisir si par défaut l'icon sera ajouter 
//     à l'élément ou au pseudo-selector :before ou :after
$selectorDefault: elem; // elem, before or after

// Fot device with pixel high density
$pixels2x: "(-webkit-min-device-pixel-ratio: 1.5),
            (-o-min-device-pixel-ratio: 3/2),
            (min-device-pixel-ratio: 1.5)";